*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'fuenteNova';
  src: url('./assets/SYNNova-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

body{
  max-width: 100%;
}

canvas{
  display:block;
  margin:1em auto;
  overflow: hidden;
}